{% extends "base.html" %}

{% block content %}

    <h1>User Sign-Up</h1>
                <form method = "POST">

                        <form>
                            <label>Username:
                            <input name="username" type="text">
                            </label>
                            <span class="error">{{error_username}}</span>                       
                            
                            <label>
                            Password:

                            <input name="password" type="text">
                            </label>
                            <span class="error">{{error_password}}</span>

                            <label>
                            Verify Password:
                            
                            <input name="verify_password" type="text">
                            </label>
                            <span class="error">{{error_password_verification}}</span>

                            <label>E-mail (optional):
                            <input name="email" type="text">
                            </label>
                            <span class="error">{{error_email_message}}</span>

                            <input class="submit" type="submit" value="Submit">
                       
                        </form>
                
                
    {% endblock %}